@charset "UTF-8";

body {
	background-color: white font-family: sans-serif, tahoma, gulim;
	font-size: 10pt;
}

 input: placeholder {
 	text-align:left;
    font-size:14px;
    color:gray;
    }
    
.error_msg{
    float:right;
    }
    
  
  B {color: red;}

.joinSuccess_msg{
	width: 100%;	
}

.joinSuccess_msg h2 {
	text-align: left;
}

.btn btn-default {
	vertical-align: middle
}

.joinBack{
	width: 100%;
}

.join_form{
	width: 40%;
    margin-left: 30%;
    text-align: center;
    margin-right: 30%;
}

.labelName{
	
	font-size: 35px;
	margin-bottom: 5px;
}

.inputField{
	font-size: 40px;
	height: 60px;
}

.inputField{
	font-size: 30px;
	height: 60px;
}

