@charset "UTF-8";


 input::placeholder {
    font-size:20px;
    color:gray;
    }
  B {color: red;}

.joinSuccess_msg{
	
	display:inherit;
	margin-left: 10%; 
	
	margin-right: 10%; 
	
	margin-top: 0px;
	
	
	
	min-width: 50%
	
}

.joinBack{
	
	width: 100%;
	
}

.join_form{
	
	display:inherit;
	margin-left: 30%; 
	
	margin-right: 30%; 
	
	margin-top: 0px;
	
	margin-bottom: 50px;
	
	min-width: 50%
}

.labelName{
	
	font-size: 35px;
	margin-bottom: 5px;
}

.inputField{
	font-size: 40px;
	height: 60px;
}

.inputField{
	font-size: 30px;
	height: 60px;
}

