<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
	    <typeAlias type="com.all.model.Admin" alias="admin" />
	    <typeAlias type="com.all.model.Allergy" alias="allergy"/>
	    <typeAlias type="com.all.model.Chatting" alias="chatting" />
	    <typeAlias type="com.all.model.Food_menu" alias="menu"/>
		<typeAlias type="com.all.model.FreeArticle" alias="freeArticle" />
		<typeAlias type="com.all.model.FreeComment" alias="freeComment" />
		<typeAlias type="com.all.model.Health" alias="health" />
		<typeAlias type="com.all.model.JoinRequest" alias="joinReq" />
		<typeAlias type="com.all.model.Location" alias="location" />
		<typeAlias type="com.all.model.Member" alias="member" />
		<typeAlias type="com.all.model.NoticeArticle" alias="noticeArticle" />
		<typeAlias type="com.all.model.Partner" alias="partner" />
		<typeAlias type="com.all.model.QnaMemberArticle" alias="qnaMemberArticle" />
		<typeAlias type="com.all.model.QnaMemberComment" alias="qnaMemberComment" />
		<typeAlias type="com.all.model.QnaPartnerArticle" alias="qnaPartnerArticle" />
		<typeAlias type="com.all.model.QnaPartnerComment" alias="qnaPartnerComment" />
		<typeAlias type="com.all.model.Star_bulletin" alias="review"/>
		<typeAlias type="com.all.model.Store" alias="store"/>
		<typeAlias type="com.all.model.StoreReviewCount" alias="StoreReviewCount"/>
		<typeAlias type="com.all.model.User" alias="Test" />
		<typeAlias type="com.all.model.User" alias="user" />
		<typeAlias type="com.all.model.MainView" alias="mainview" />
	</typeAliases>
</configuration>