<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace 속성은 현재 XML 파일을 나타내는 ID와 같은 정보 -->
<mapper namespace="FreeArticleMapper">
 	
	<!-- 게시판 리스트 -->
	<select id="freeList" resultType="freeArticle">
		select * from free_bulletin
		order by fb_c_date DESC;
	</select>
	 
	<!-- 게시판 리스트 & 넘버링  -->
	<!-- 페이징 처리를 위해서  order by로 정렬한후 limit으로 끊어서 가져온다. 
	<select id="freeListPage" resultType="freeArticle">
		select * from free_bulletin
		order by fb_c_date DESC
		limit #{startPage}, #{endPage}
	</select>
	<select id="freelistCount" resultType="java.lang.Integer">
		select count(*)
		from free_bulletin
	</select>
	-->
	<!-- 게시글 보기 -->
	<select id="freeContent" parameterType="freeArticle" resultType="freeArticle">
		select * from free_bulletin
		where fb_no = #{fb_no}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="freeWrite" parameterType="freeArticle">
		insert into free_bulletin (fb_title, member_id, fb_content, fb_image, fb_count, fb_c_date, fb_u_date)
		values (#{fb_title}, #{member_id}, #{fb_content}, #{fb_image}, 0, now(), now())
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="freeUpdate" parameterType="freeArticle">
		update free_bulletin
		set fb_title = #{fb_title}, fb_content = #{fb_content}, fb_image = #{fb_image}
		where fb_no = #{fb_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="freeDelete" parameterType="freeArticle">
		delete from free_bulletin
		where fb_no = #{fb_no}
	</delete>
	
	<!-- 게시글 조회수 -->
	<update id="freeCount" parameterType="freeArticle">
		update free_bulletin
		set fb_count = fb_count + 1
		where fb_no = #{fb_no}
	</update>
	
	<!-- 게시글 검색 -->
	<select id="freeSearch" parameterType="map" resultType="freeArticle" >
	    select * from free_bulletin
		where fb_title LIKE CONCAT('%',#{search},'%') or fb_content LIKE CONCAT('%',#{search},'%')
		order by fb_c_date DESC
	</select>

</mapper>









