<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace 속성은 현재 XML 파일을 나타내는 ID와 같은 정보 -->
<mapper namespace="com.jk.model.MemberMapper">
		
	<!-- 회원가입 -->
	<insert id="memberRegist" parameterType="member">
		insert into jk.member
		values (#{member_id}, #{member_pw}, #{member_name}, #{member_email}, #{loc_code}, #{member_phone}, now(), #{member_sex}, now(), #{member_image}, #{member_grade})
	</insert>
	
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="member" resultType="member">
		select * from jk.member
		where member_id = #{member_id}
	</select>
	
	<!-- 마이페이지 -->
	<select id="myPage" parameterType="member" resultType="member">
		select * from jk.member
		where member_id = #{member_id}
	</select>
	
	<!-- 회원정보수정 -->
	<select id="memberUpdate" parameterType="member" resultType="member">
		
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType="member">
		delete from jk.member
		where member_id = #{member_id}
	</delete>
	
	<!-- 로그인 아이디 조회 -->
	<select id="logincheck" parameterType="member" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
		AND member_pw = #{member_pw}
		AND member_grade = '0'
	</select>
</mapper>









