<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace 속성은 현재 XML 파일을 나타내는 ID와 같은 정보 -->
<mapper namespace="com.jk.model.MemberMapper">
		
	<!-- 회원가입 -->
<insert id="memberRegist" parameterType="joinReq">
	insert into member
(member_id, member_pw, member_name, member_email, 
member_phone, member_birth, member_sex, member_date, 
 member_address
)
values
(#{member_id}, #{member_pw}, #{member_name}, #{member_email}, 
#{member_phone}, #{member_birth}, #{member_sex}, now(), 
#{member_address}
);
</insert>
	<!--  아이디 값으로 맴버검색 -->
	<select id = "selectById" parameterType="joinReq" resultType="member">
		select * from member where member_id = #{member_id}
	</select>
	
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="member" resultType="member">
		select * from jk.member
		where member_id = #{member_id}
	</select>
	
	<!-- 마이페이지 -->
	<select id="myPage" parameterType="member" resultType="member">
		select * from member
		where member_id = #{member_id}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType="member">
		delete from jk.member
		where member_id = #{member_id}
	</delete>
	
	<!-- 로그인 아이디 조회 -->
	<select id="logincheck" parameterType="member" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
		AND member_pw = #{member_pw}
	</select>

	<!-- 회원정보수정 -->
	<update id="memberUpdate" parameterType="member">
		UPDATE member SET member_name = #{member_name}, 
		member_email = #{member_email},member_address=#{member_address}, 
		member_phone=#{member_phone},member_birth=#{member_birth}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원 비밀번호 체크 -->
	<select id="memberPasswordCheck" parameterType="member" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
		AND member_pw = #{member_pw}
	</select>
	
	<!-- 회원 비밀번호 수정 -->
	<update id="memberPasswordUpdate" parameterType="member">
		UPDATE member SET member_pw = #{member_pw}
		WHERE member_id = #{member_id}
	</update>	
	
	<!-- 회원 건강정보 등록 -->
	<insert id="memberAddHealth" parameterType="health">
		call p_save_health(#{member_id }, #{health_height }, #{health_weight })		
	</insert>
	
	<!-- 회원 일일 대사량 가져오기 -->
	<select id="memberSelectHealth" parameterType="health" resultType="health">
		SELECT *
		FROM health
		WHERE member_id = #{member_id }
	</select>
	
</mapper>









