<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace 속성은 현재 XML 파일을 나타내는 ID와 같은 정보 -->
<mapper namespace="com.jk.model.PartnerMapper">


	
	<select id="allRecord" resultType="partner">
		select * 
		from jk.partner
	</select>
	
	<select id="oneRecord" parameterType="partner" resultType="partner">
		select * from jk.partner 
		where partner_id = #{partner_id}
	</select>
	
	<insert id="insert" parameterType="partner" >
		insert into jk.partner 
		values (#{partner_id}, #{partner_pw}, #{store_code}, #{store_title})
	</insert>
	
	<delete id="deleteOne" parameterType="partner">
		delete from jk.partner
		where partner_id = #{partner_id}
	</delete>

</mapper>









